{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": [2, { "optionalDependencies": true }],
    "operator-linebreak": 0,
    "react/jsx-filename-extension": 0
  }
}
